<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitter App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <link rel="stylesheet" href="/static/app.css" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Twitter App</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <!-- username and log out button deleted for time being.  Put back here if it turns out
                we need it after all-->
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-group">
        <label for="usernameTF">Twitter Handle</label>
        <input tabindex="1" type="input" id="usernameTF" class="input input-lg form-control" />
    </div>
    <div class="form-group">
        <label for="maxTweetsSelect">Max Number of Tweets</label>
        <select tabindex="2" id="maxTweetsSelect" class="input input-lg form-control">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="75">75</option>
            <option value="100">100</option>
        </select>
    </div>

    <div class="form-group">
        <button tabindex="3" id="getTweetsButton" class="btn btn-lg btn-primary btn-block">Get Tweets</button>
    </div>
    <hr /><br />

    <!-- tweet cards area -->
    <div class="row">
        <div class="col-lg-12" id="cardListArea">
        </div>
    </div>
</div>
{% raw %}
<script id="cardListTemplate" type="text/x-handlebars-template">
    <div class="container">
    {{#each tweets}}
            <div class="row tweetCard" id="tweet{{id}}">
                <div class="col-lg-4 cardUsername">{{screen_name}}</div>
                <div class="col-lg-4 cardTweet">{{message}}</div>
                <div class="col-lg-4 cardDate">{{date}}</div>
            </div>
    {{/each}}
    </div>
</script>
{% endraw %}
<script src="/static/app.js"></script>
</body>
</html>
